<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../public/index.css">
    <title>Home</title>
</head>
<body>
    <div class="nav">
        <div></div>
        <div class="navItem navItem2">Chat App</div>
        <div class="navItem navItem3"><button class="btn" id="lgout">Logout</button></div>
    </div>
   <div class="container">
    <div class="item item1" id="msgCont">
   
    </div>
   </div> 
   <div class="input-container">
   <form id="msginput" >
    <input type="text" id="sendmsg">
    <button class="btn" type="submit">Send</button>
   </form>
   </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="../public/index.js"></script>
</body>
</html>