<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="../public/mainlogin.css">
</head>

<body>
  <div class="form-container">
    <h1>Login</h1>
    <div id="error-msg" class="error-msg"></div>
    <form id="login-form" onsubmit="login(event)">
      <input type="text" id="username" placeholder="Username">
      <input type="password" id="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>
    <div id="message" class="shom">
    </div>
  </div>
<div class="dont-acc">Don't have an account? <a href="/signUp.html">Sign Up</a></div>

  <script src="../public/login.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>