<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="../public/mainlogin.css">
</head>

<body>
  <div class="form-container">
    <h1>Login</h1>
    <div id="error-msg" class="error-msg"></div>
    <form id="login-form" onsubmit="login()">
      <input type="text" id="username" placeholder="Username">
      <input type="password" id="password" placeholder="Password">
      <button type="submit">Login</button>
    </form>
  </div>
  <script src="login.js"></script>
</body>

</html>