<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="../public/mainlogin.css">
</head>
<body>
    <div class="form-container">
        <div id="error-msg" class="error-msg"></div>
        <h1>Sign Up</h1>
    <form onsubmit="formSubmit(event)">
    <input type="text" id="userName" placeholder="Enter Your Full Name">
    <input type="email"  id="email" placeholder="Enter Your Email">
    <input type="number" id="phn" placeholder="Enter your Phone Number">
    <input type="password" name="" id="password" placeholder="Make a Password">
    <input type="password" name="" id="cnfpassword" placeholder="Confirm Password">
      <button type="submit">Sign Up</button>
</form>
    </div>

    <script src="../public/signup.js"></script>
</body>
</html>