body{
font-family: Arial, Helvetica, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d8c1c1;
    height: 35px;
}.navItem{
    margin-left: 7px;
    margin-right: 7px;
}
.navItem3{
    margin-right: 25px;
}
.container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 11px;
}
.item{
    width: 100%;
    margin-bottom: 40px;
}
.item1{
    width: 25%;
}
ul{
    list-style-type: none;
}
.licon li{
    padding: 7px;
}
.licon li:nth-child(even){
    background: hsl(0, 4%, 77%);
    margin-top: 5px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3d3dcc;
    position: fixed;
    bottom: 18px;
    width: 100%;
    height: 33px;
}
#msginput input{
    width: 150px;
}

.form-container {
    display: flex;
    width:100%;
    height: 225px;
    flex-direction: column;
    border: 2px solid plum;
    justify-content: right;
    align-items: center;
    border-radius: 0.6rem;
}
    .form-item{
    background: palegreen;
    border-radius: 0.5rem;
    width: 200px;
    height: 21px;
    margin: 9px 5px;
}
#overlay, #sU{
    display: none;
    position: fixed;
     top: 45px;
     left: 21%;
     width: 65%;
    background-color: whitesmoke;
    z-index: 9999;
    overflow-y: scroll;
}
    #userProb,#addUser-group {
        background: #acf38c;
        display: none;
        position: fixed;
        top: 1px;
        left: 21%;
        width: 100%;
        height: 100%;
        padding-top: 55px;
        padding-left: 47px;
    }
#sU{
    height: 100px;
}

.select{
    height: 49px;
    width: 100%;
    overflow-y: scroll;
    align-self: self-start;
    margin-left: 20px;
}
#gpD{
    cursor: pointer;
}
.adminBtn,.removeBtn{
    display: none;
    color: red;
    margin-right: 20px;
    float:right;
}
.removeBtn{
    display: block;
}
.Gadmin{
    float: right;
    color: #1b4d1b;
    background: #acf38c;
    margin-right: 20px;
    border-radius: 0.5rem;
}

button#addUserBtn {
    position: absolute;
    top: 70px;
    right: 12px;
    font-weight: bolder;
}
#add-show{
    background: whitesmoke;
    color: red;
    position: absolute;
    top: 56px;
    right: 2px;
}
.hDiv {
    /* color: black; */
    margin: 2px;
    font-family: cursive;
    cursor: pointer;
}
#cl,#close,#addUserBtn{
    cursor: pointer;
}
.grpUl{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.grpUl li button{
    cursor: pointer;
    height: 32px;
    width: 130px;
    background: #e94662;
    border-radius: 0.5rem;
    margin-left: -35px;
}

#serchInput{
    padding: 30px;
    background: #b8a9aa17;
    display: none;
    margin: 2px;
    flex-direction: column;
    border: 2px solid red;
}
#serchInput input{
    margin-bottom: 2px;
    height: 25px;
    border-radius: 0.5rem;
}
.btn{
    height: 45px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0.5rem;
}